[core]
  excludesfile = /home/sean/.gitignore
  trustctime   = false

[color]
  ui          = auto
  diff        = auto

[alias]
  amend     = commit --amend
  amne      = commit --amend --no-edit
  branches  = branch --list
  ci        = commit
  co        = checkout
  di        = diff
  div       = divergence
  diw       = diff -w
  out       = outgoing
  pom       = push origin main
  pwl       = push --force-with-lease
  remotes   = remote -v
  st        = status
  tags      = tag --list
  track     = checkout -t
  upstream  = remote add upstream
  wipe      = reset --hard HEAD

[push]
  default = simple
  autosetupremote = true

[branch]
  autosetuprebase = always
  sort = committerdate

[difftool]
  prompt = false

[diff]
  algorithm = histogram

[merge]
  conflictstyle = zdiff3

[mergetool]
  prompt = false

[rebase]
  autostash = true
  autosquash = true
  updaterefs = ture

[filter "lfs"]
  process = git-lfs filter-process --skip
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge --skip %f

[url "ssh://git@github.com"]
  insteadof = https://github.com

[commit]
  gpgsign = true

[include]
  path = .gitconfig.local

[fetch]
  prune = true

[pull]
  rebase = true

[rerere]
  enabled = true
  autoupdate = true

[help]
  autocorrect = 50

[init]
  defaultBranch = main
